.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 4%;
    background-color: rgb(225, 225, 225);
}

.logo img {
    width: 200px;
    transition: 0.6s;
    
}

.logo img:hover {
    transform: scale(1.03);
}

.notifications-section img {
    width: 30px;
    transition: 0.6s;
}

.notifications-section img:hover {
    transform: scale(1.03);
}

@media (max-width: 720px) {
    .logo img {
        width: 120px;
    }
    .notifications-section img {
        width: 19px;
    }
}