.details-display {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.detail-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1190px) {
    .detail-display {
        font-size: 15px;
    }
}

@media (max-width: 970px) {
    .details-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media  (max-width: 720px) {
    .details-display {
        padding: 10px;
    }
}

@media (max-width: 570px) {
    .detail-display {
        font-size: 12px;
    }
    .details-display {
        margin-left: 15px;
    }
}