.add {
    min-height: 100vh;
    border: none;
    margin-top: 8px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.add-task-title, .add-description {
    width: max(40%, 280px);
}

.add-task-title input, .add-description textarea {
    padding: 10px;
    width: 100%;
}

.add-btn {
    padding: 5px;
    font-weight: 500;
    background: transparent;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}

.add-btn:hover {
    transform: scale(1.03);
    color: green;
    border: 2px solid green;
    background-color: rgba(87, 237, 46, 0.542);
}

@media (max-width: 989px) {
    .add {
        align-items: center;
        margin-right: 20px;
    }
}