@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}

body {
  min-height: 100vh;
  background-color: #fffffff9;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.app-content {
  display: flex;
  background: #fffffff9;
  animation: fadeIn 2s ease-in-out;
}