.footer {
    text-align: center;
    margin: auto;
    max-width: 100%;
    border-top: 1px solid #989898;
    padding: 10px 0px;
    font-size: 13px;
    background: linear-gradient(#f3a3a3, #c7aeae);
    margin-top: 10px;
}